<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Cadastro de Médico</title>
</head>

<body>
<header th:replace="~{fragments/header :: header}">

</header>
<main>

    <div class="container mt-5">

        <h1 th:text="${medico.id == null ? 'Cadastro de Médico' : 'Edição de Médico'}"></h1>

        <form th:action="${medico.id == null} ? @{/medico/save} : @{/medico/update}"
              th:object="${medico}"
              method="post">

            <input type="hidden" th:field="*{id}">

            <th:block th:replace="~{fragments/campos-pessoais :: camposPessoais(
                placeholderNome='Digite o nome do médico',
                placeholderCpf='Digite o CPF do médico',
                placeholderEmail='Digite o email do médico')}"></th:block>

            <div class="mb-3">
                <label for="crm" class="form-label">CRM:</label>
                <input type="text"
                       th:field="*{crm}"
                       id="crm"
                       class="form-control"
                       placeholder="Digite o CRM"
                       required>
            </div>

            <br/>

            <input type="submit" value="Enviar" class="btn btn-primary">
            <a th:href="@{/medico/list}" class="btn btn-success">Listar</a>
            <a th:href="@{/}" class="btn btn-secondary">Voltar</a>

        </form>
    </div>
</main>
</body>
</html>
