<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Cadastro de Paciente</title>
</head>

<body>
<header th:replace="~{fragments/header :: header}">

</header>
<main>
    <div class="container mt-5">
        <h1 th:text="${paciente.id == null ? 'Cadastro de Paciente' : 'Edição de Paciente'}"></h1>

        <form th:action="${paciente.id == null} ? @{/paciente/save} : @{/paciente/update}"
              th:object="${paciente}"
              method="post">

            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text"
                       th:field="*{nome}"
                       id="nome"
                       class="form-control"
                       placeholder="Digite o nome do paciente"
                       required>
            </div>

            <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text"
                       th:field="*{cpf}"
                       id="cpf"
                       class="form-control"
                       placeholder="Digite o CPF"
                       maxlength="11"
                       required>
            </div>

            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone:</label>
                <input type="text"
                       th:field="*{telefone}"
                       id="telefone"
                       class="form-control"
                       placeholder="Digite o telefone"
                       required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text"
                       th:field="*{email}"
                       id="email"
                       class="form-control"
                       placeholder="Digite o email do paciente"
                       required>
            </div>

            <br/>

            <input type="submit" value="Enviar" class="btn btn-primary">
            <a th:href="@{/paciente/list}" class="btn btn-success">Listar</a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>
        </form>
    </div>
</main>
</body>
</html>
